<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vMHostCluster">
            <h2><span jhiTranslate="ltqProvisionApp.vMHostCluster.detail.title">VM Host Cluster</span> {{vMHostCluster.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ltqProvisionApp.vMHostCluster.moRef">Mo Ref</span></dt>
                <dd>
                    <span>{{vMHostCluster.moRef}}</span>
                </dd>
                <dt><span jhiTranslate="ltqProvisionApp.vMHostCluster.name">Name</span></dt>
                <dd>
                    <span>{{vMHostCluster.name}}</span>
                </dd>
                <dt><span jhiTranslate="ltqProvisionApp.vMHostCluster.vcenter">Vcenter</span></dt>
                <dd>
                    <div *ngIf="vMHostCluster.vcenter">
                        <a [routerLink]="['/vcenter', vMHostCluster.vcenter?.id, 'view']">{{vMHostCluster.vcenter?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vm-host-cluster', vMHostCluster.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
